body {
    padding-top: 1%;
    background-color: #172727;
    color: white;
}

.nav-item {
    margin-right: 10px;
    border: 2px solid white;
}

.nav-link {
    color: white!important;
    background-color: #172727!important;
}